USE [master]
GO
/****** Object:  Database [ProductDB]    Script Date: 7/3/2025 2:33:09 PM ******/
CREATE DATABASE [ProductDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2025\MSSQL\DATA\ProductDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER2025\MSSQL\DATA\ProductDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductDB]
GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 7/3/2025 2:33:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [nvarchar](100) NOT NULL,
	[PRICE] [decimal](10, 2) NOT NULL,
	[STOCK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRICE], [STOCK]) VALUES (1, N'Mouse', CAST(10.99 AS Decimal(10, 2)), 100)
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRICE], [STOCK]) VALUES (2, N'Keyboard', CAST(20.50 AS Decimal(10, 2)), 50)
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [PRODUCTNAME], [PRICE], [STOCK]) VALUES (3, N'Monitor', CAST(120.00 AS Decimal(10, 2)), 30)
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD CHECK  (([PRICE]>(0)))
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD CHECK  (([STOCK]>=(0)))
GO
USE [master]
GO
